<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SAFAR.COM</title>
  <link rel="stylesheet" href="/activity.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
    rel="stylesheet" />
</head>

<body>
  <div class="main_page">
    <nav>
      <a href="/Safar">HOME</a>
      <a href="/tourist">TOURIST PLACE</a>
      <a href="/activity">ACTIVITY</a>
      <a href="/blog">BLOGS</a>
    </nav>
    <div id="page4">
      <div class="page4-content">
        <div class="page4-heading">
          <h1>Explore Amazing Activities!</h1>
        </div>
        <div class="page4-top">
          <div class="box">
            <a href="/rafting">
              <img src="photos/rafting.jpg" alt="" />
              <div class="page4text">
                RIVER <br />
                RAFTING
              </div>
            </a>
          </div>
          <div class="box">
            <a href="/riding">
              <img src="photos/riding.jpg" alt="" />
              <div class="page4text">RIDING</div>
            </a>
          </div>
          <div class="box">
            <a href="/trekking">
              <img src="photos/trekking.jpg" alt="" />
              <div class="page4text">TREKKING</div>
            </a>
          </div>
        </div>
        <div class="page4-bottom">
          <div class="box">
            <a href="/gliding">
              <img src="photos/gliding.png" alt="" />
              <div class="page4text-bt">PARAGLIDING</div>
            </a>
          </div>
          <div class="box">
            <a href="/jumping">
              <img src="photos/jumping.jpg" alt="" />
              <div class="page4text-bt">
                BUNGEE <br />
                JUMPING
              </div>
            </a>
          </div>
          <div class="box">
            <a href="/camping">
              <img src="photos/camping.png" alt="" />
              <div class="page4text-bt">CAMPING</div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>