<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SAFAR.COM</title>
  <link rel="stylesheet" href="/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
    rel="stylesheet" />
</head>

<body>
  <div class="main_page">
    <nav>
      <a href="/Safar">HOME</a>
      <a href="/tourist">TOURIST PLACE</a>
      <a href="/activity">ACTIVITY</a>
      <a href="/blog">BLOGS</a>
    </nav>
    <div class="discover container">
      <h1>Discover Your Next Adventure</h1>
      <h3>At SAFAR</h3>
      <a href="/tourist">
        <button class="homebtn">Explore</button>
      </a>
    </div>
    <div class="curl-img">
      <img src="photos/paper.png" alt="" />
    </div>
  </div>

  <div class="page2 container" style="
        display: flex;
        height: 85vh;
        justify-content: space-between;
        background-color: #232323;
        color: white;
      ">
    <div class="page2-left">
      <h1>Explore Our Most Conveted Snaptrip Destination</h1>
      <p>
        “Travel isn’t always pretty. It isn’t always comfortable. Sometimes it
        hurts, it even breaks your heart. But that’s okay. The journey changes
        you; it should change you. It leaves marks on your memory, on your
        consciousness, <br />on your heart,and on your body. You take
        something with you. <br />
        Hopefully, you leave something good behind.” – Anthony Bourdain
      </p>
    </div>
    <div class="page2-right">
      <img src="photos/left.png" alt="" />
    </div>
  </div>

  <div id="page3">
    <a href="/rishikesh">
      <div class="page3-card1 cards">
        <img src="photos/r1.jpg" alt="" />
        <h3>RISHIKESH</h3>
      </div>
    </a>
    <a href="/dehradun">
      <div class="page3-card2 cards">
        <img src="photos/d1.jpg" alt="" />
        <h3>DEHRADUN</h3>
      </div>
    </a>
    <a href="/mussoorie">
      <div class="page3-card3 cards">
        <img src="photos/m6.jpg" alt="" />
        <h3>MUSSOORIE</h3>
      </div>
    </a>
    <a href="/nainital">
      <div class="page3-card4 cards">
        <img src="photos/n3.jpg" alt="" />
        <h3>NAINITAL</h3>
      </div>
    </a>
  </div>

  <div id="page4">
    <div class="page4-content">
      <div class="page4-heading">
        <h1>Explore Amazing Activities!</h1>
      </div>
      <div class="page4-top">
        <div class="box">
          <a href="/rafting">
            <img src="photos/rafting.jpg" alt="" />
            <div class="page4text">
              RIVER <br />
              RAFTING
            </div>
          </a>
        </div>
        <div class="box">
          <a href="/riding">
            <img src="photos/riding.jpg" alt="" />
            <div class="page4text">RIDING</div>
          </a>
        </div>
        <div class="box">
          <a href="/trekking">
            <img src="photos/trekking.jpg" alt="" />
            <div class="page4text">TREKKING</div>
          </a>
        </div>
      </div>
      <div class="page4-bottom">
        <div class="box">
          <a href="/gliding">
            <img src="photos/gliding.png" alt="" />
            <div class="page4text-bt">PARAGLIDING</div>
          </a>
        </div>
        <div class="box">
          <a href="/jumping">
            <img src="photos/jumping.jpg" alt="" />
            <div class="page4text-bt">
              BUNGEE <br />
              JUMPING
            </div>
          </a>
        </div>
        <div class="box">
          <a href="/camping">
            <img src="photos/camping.png" alt="" />
            <div class="page4text-bt">CAMPING</div>
          </a>
        </div>
      </div>
    </div>
  </div>
  <div id="page5">
    <div class="header">
      <h1>Blogs</h1>
    </div>
    <div class="page5-card1 p5-cards">
      <img src="photos/snow.jpg" alt="winter" />
      <p>
        The snow laden mountain paradise is considered amongst the best skiing
        grounds in the world.
      </p>
    </div>
    <div class="page5-card2 p5-cards">
      <img src="photos/monsoon.jpg" alt="monsoon" />
      <p>
        This season is one of the best times of the year to experience the
        culture and traditions of the mountains.
      </p>
    </div>
    <div class="page5-card3 p5-cards">
      <img src="photos/summer.jpg" alt="summer" />
      <p>
        Summers tend to become a bit lazy and the adrenaline junkie in us
        starts making peace with deep slumbers.
      </p>
    </div>
    <div class="page5-card4 p5-cards">
      <img src="photos/wild.jpg" alt="wildlife" />
      <p>
        With their rich biodiversity, sanctuaries provide a haven for
        endangered species for nature enthusiasts.
      </p>
    </div>
  </div>

  <hr />

  <div id="Page6">
    <footer class="footer">
      <div class="footer-content">
        <p>&copy; 2024 SAFAR, All rights reserved.</p>
        <nav class="footer-nav">
          <ul>
            <li><a href="/privacy-policy">Privacy Policy</a></li>
            <li><a href="/terms-conditions">Terms & Conditions</a></li>
          </ul>
        </nav>
        <div class="social-media">
          <a href="https://www.facebook.com/" target="_blank" aria-label="Facebook">
            <img src="photos/facebook.png" alt="Facebook" />
          </a>
          <br />
          <a href="https://www.twitter.com/" target="_blank" aria-label="Twitter">
            <img src="photos/twitter.png" alt="Twitter" />
          </a>
          <br />
          <a href="https://www.instagram.com/" target="_blank" aria-label="Instagram">
            <img src="photos/insta.png" alt="Instagram" />
          </a>
          <br />
          <a href="https://www.linkedin.com/in/ " target="_blank" aria-label="LinkedIn">
            <img src="photos/linkedin.png" alt="LinkedIn" />
          </a>
        </div>
      </div>
      <div class="footer-bottom">
        <p>2024 SAFAR</p>
      </div>
    </footer>
  </div>
</body>

</html>