<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>SAFAR.COM</title>
  <link rel="stylesheet" href="/tourist.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
    rel="stylesheet" />
</head>

<body>
  <div class="main_page">
    <nav>
      <a href="/Safar">HOME</a>
      <a href="/tourist">TOURIST PLACE</a>
      <a href="/activity">ACTIVITY</a>
      <a href="/blog">BLOGS</a>
    </nav>

    <div id="page3">
      <a href="/rishikesh">
        <div class="page3-card1 cards">
          <img src="photos/r1.jpg" alt="" />
          <h3>RISHIKESH</h3>
        </div>
      </a>
      <a href="/dehradun">
        <div class="page3-card2 cards">
          <img src="photos/d1.jpg" alt="" />
          <h3>DEHRADUN</h3>
        </div>
      </a>
      <a href="/mussoorie">
        <div class="page3-card3 cards">
          <img src="photos/m6.jpg" alt="" />
          <h3>MUSSOORIE</h3>
        </div>
      </a>
      <a href="/nainital">
        <div class="page3-card4 cards">
          <img src="photos/n3.jpg" alt="" />
          <h3>NAINITAL</h3>
        </div>
      </a>
    </div>
  </div>
</body>

</html>